<%- include('nav.ejs') -%>

    <div class="container-fluid" style="background-image: url(http://localhost:3001/img/bg-login.jpg);">
        <div class="row" style="display: flex; flex-wrap: wrap; justify-content: start;">
            <% result.forEach((publicacion)=> { %>
                <div class="col-8">
                    <div class="container-fluid w-100 mt-3 p-3 rounded"
                        style="background-color: #1a1a1b; border: 1px #2d2e2f solid;">
                        <div class="h3 pb-2 mb-4 text-light border-bottom border-white text-opacity-75 border-opacity-50"
                            style="border-bottom: 1px #2d2e2f solid;">
                            <%= publicacion.titulo %>

                        </div>
                        <div class="">
                            <a href="">
                                <img src="http://localhost:3001/img/<%= publicacion.imagePath%>" decoding=""
                                    class="w-100 h-110 " alt="imagen">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="container-fluid w-100 mt-3 p-3 rounded"
                        style="background-color: #1a1a1b; border: 1px #2d2e2f solid;">
                        <div class="h3 pb-2 mb-4 text-light border-bottom border-white text-opacity-75 border-opacity-50"
                            style="border-bottom: 1px #2d2e2f solid;">
                            <%= publicacion.empresa %>
                        </div>
                        <div class="h6 pb-2 mb-4 text-light border-bottom border-white text-opacity-75 border-opacity-50"
                            style="border-bottom: 1px #2d2e2f solid;">
                            <%= publicacion.texto %>
                        </div>
                        <% results.forEach((count)=> { %>
                            <div class="h6 pb-2 mb-4 text-light border-bottom border-white text-opacity-75 border-opacity-50"
                                style="border-bottom: 1px #2d2e2f solid;">
                                Cantidad de aspirantes: <%= count.aspirantes %>
                            </div>
                            <% }) %>
                                <div class="h6 pb-2 mb-4 text-light border-bottom border-white text-opacity-75 border-opacity-50"
                                    style="border-bottom: 1px #2d2e2f solid;">
                                    Fecha Finalizacion: <%= publicacion.fecha_finalizacion %>
                                </div>
                                <form action="/apply" method="POST">
                                    <div class="d-none">
                                        <input type="number" name="id_estudiante"
                                            class="form-control bg-secondary border-danger text-light"
                                            id="inputPassword" value="<%= id_estudiante %>">
                                        <input type="number" name="id_publicacion"
                                            class="form-control bg-secondary border-danger text-light"
                                            id="inputPassword" value="<%= publicacion.id_publicacion %>">
                                        <input type="number" name="id_empresa"
                                            class="form-control bg-secondary border-danger text-light"
                                            id="inputPassword" value="<%= publicacion.id_empresa %>">
                                        <input type="number" name="id_estado_peticion"
                                            class="form-control bg-secondary border-danger text-light"
                                            id="inputPassword" value="3">
                                        <input type="number" name="usuario"
                                            class="form-control bg-secondary border-danger text-light"
                                            id="inputPassword" value="<%= msg %>">
                                    </div>
                                    <div class="d-flex justify-content-center p-3 mt-3 d-grid gap-2 w-100">
                                        <button type="submit" class="btn btn-success mt-2 w-100 p-2"
                                            id="btn-log">Aplicar</button>

                                    </div>
                                </form>
                    </div>
                </div>
        </div>
        <% }) %>

    </div>
    </div>